<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow requests to existing files and directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite all other requests to index.html but keep the URL
  RewriteRule ^(.*)$ /index.html [L,QSA]
</IfModule>
